In [1]:
import pandas as pd
data = pd.read_csv("churn_modelling.csv")
data

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [5]:
x = data.iloc[:, 3:13]
y = data.iloc[:, 13]

In [6]:
geography = pd.get_dummies(x["Geography"], drop_first= True)
gender = pd.get_dummies(x["Gender"], drop_first = True)
x = pd.concat([x, geography, gender], axis = 1)
x = x.drop(["Geography", "Gender"], axis = 1)
x

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0,0,1
9996,516,35,10,57369.61,1,1,1,101699.77,0,0,1
9997,709,36,7,0.00,1,0,1,42085.58,0,0,0
9998,772,42,3,75075.31,2,1,0,92888.52,1,0,1
9999,792,28,4,130142.79,1,1,0,38190.78,0,0,0

In [7]:
# Spliting Dataset
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2)

In [8]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [9]:
#importing Keras
import keras
from keras.models import Sequential  #for all neural networks
from keras.layers import Dense   #for hidden layers
from keras.layers import Dropout #for regularization

In [10]:
classifier = Sequential()
classifier.add(Dense(units = 6, activation = "relu", kernel_initializer = "he_uniform", input_dim = 11))
classifier.add(Dense(units = 6, activation = "relu", kernel_initializer = "he_uniform"))
classifier.add(Dense(units = 1, activation = "sigmoid", kernel_initializer = "glorot_uniform"))
classifier.compile(optimizer = "adam", loss = "binary_crossentropy", metrics = ["accuracy"])
model = classifier.fit(x_train, y_train, validation_split = 0.33, batch_size = 10, epochs = 100)

Epoch 1/100
536/536 [==============================] - 4s 3ms/step - loss: 0.5201 - accuracy: 0.7710 - val_loss: 0.4792 - val_accuracy: 0.7849
Epoch 2/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4566 - accuracy: 0.7942 - val_loss: 0.4515 - val_accuracy: 0.7925
Epoch 3/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4378 - accuracy: 0.8024 - val_loss: 0.4377 - val_accuracy: 0.8008
Epoch 4/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4249 - accuracy: 0.8093 - val_loss: 0.4278 - val_accuracy: 0.8039
Epoch 5/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4150 - accuracy: 0.8127 - val_loss: 0.4175 - val_accuracy: 0.8084
Epoch 6/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4044 - accuracy: 0.8173 - val_loss: 0.4074 - val_accuracy: 0.8107
Epoch 7/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3945 - accuracy: 0.8192 - val_loss: 0.3970 - val_accuracy: 0.8118
Epoch 8/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3820 - accuracy: 0.8308 - val_loss: 0.3849 - val_accuracy: 0.8360
Epoch 9/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3709 - accuracy: 0.8459 - val_loss: 0.3778 - val_accuracy: 0.8395
Epoch 10/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3628 - accuracy: 0.8511 - val_loss: 0.3711 - val_accuracy: 0.8406
Epoch 11/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3574 - accuracy: 0.8543 - val_loss: 0.3671 - val_accuracy: 0.8440
Epoch 12/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3530 - accuracy: 0.8533 - val_loss: 0.3653 - val_accuracy: 0.8466
Epoch 13/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3499 - accuracy: 0.8559 - val_loss: 0.3641 - val_accuracy: 0.8436
Epoch 14/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3465 - accuracy: 0.8571 - val_loss: 0.3628 - val_accuracy: 0.8436
Epoch 15/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3456 - accuracy: 0.8580 - val_loss: 0.3619 - val_accuracy: 0.8429
Epoch 16/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3436 - accuracy: 0.8602 - val_loss: 0.3620 - val_accuracy: 0.8410
Epoch 17/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3421 - accuracy: 0.8619 - val_loss: 0.3610 - val_accuracy: 0.8448
Epoch 18/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3414 - accuracy: 0.8608 - val_loss: 0.3610 - val_accuracy: 0.8455
Epoch 19/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3400 - accuracy: 0.8638 - val_loss: 0.3611 - val_accuracy: 0.8478
Epoch 20/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3398 - accuracy: 0.8634 - val_loss: 0.3597 - val_accuracy: 0.8485
Epoch 21/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3392 - accuracy: 0.8628 - val_loss: 0.3601 - val_accuracy: 0.8474
Epoch 22/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3380 - accuracy: 0.8662 - val_loss: 0.3601 - val_accuracy: 0.8493
Epoch 23/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3376 - accuracy: 0.8647 - val_loss: 0.3616 - val_accuracy: 0.8466
Epoch 24/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3373 - accuracy: 0.8653 - val_loss: 0.3593 - val_accuracy: 0.8493
Epoch 25/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3366 - accuracy: 0.8643 - val_loss: 0.3600 - val_accuracy: 0.8504
Epoch 26/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3361 - accuracy: 0.8677 - val_loss: 0.3607 - val_accuracy: 0.8466
Epoch 27/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3359 - accuracy: 0.8651 - val_loss: 0.3609 - val_accuracy: 0.8448
Epoch 28/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3358 - accuracy: 0.8666 - val_loss: 0.3590 - val_accuracy: 0.8497
Epoch 29/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3351 - accuracy: 0.8660 - val_loss: 0.3615 - val_accuracy: 0.8474
Epoch 30/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3347 - accuracy: 0.8656 - val_loss: 0.3605 - val_accuracy: 0.8482
Epoch 31/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3343 - accuracy: 0.8675 - val_loss: 0.3613 - val_accuracy: 0.8482
Epoch 32/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3343 - accuracy: 0.8656 - val_loss: 0.3600 - val_accuracy: 0.8501
Epoch 33/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3341 - accuracy: 0.8679 - val_loss: 0.3611 - val_accuracy: 0.8497
Epoch 34/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3335 - accuracy: 0.8662 - val_loss: 0.3585 - val_accuracy: 0.8512
Epoch 35/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3334 - accuracy: 0.8671 - val_loss: 0.3582 - val_accuracy: 0.8489
Epoch 36/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3332 - accuracy: 0.8686 - val_loss: 0.3580 - val_accuracy: 0.8497
Epoch 37/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3327 - accuracy: 0.8673 - val_loss: 0.3588 - val_accuracy: 0.8501
Epoch 38/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3323 - accuracy: 0.8670 - val_loss: 0.3589 - val_accuracy: 0.8489
Epoch 39/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3321 - accuracy: 0.8684 - val_loss: 0.3578 - val_accuracy: 0.8531
Epoch 40/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3317 - accuracy: 0.8662 - val_loss: 0.3575 - val_accuracy: 0.8519
Epoch 41/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3310 - accuracy: 0.8684 - val_loss: 0.3579 - val_accuracy: 0.8519
Epoch 42/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3315 - accuracy: 0.8675 - val_loss: 0.3572 - val_accuracy: 0.8501
Epoch 43/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3304 - accuracy: 0.8668 - val_loss: 0.3569 - val_accuracy: 0.8538
Epoch 44/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3310 - accuracy: 0.8681 - val_loss: 0.3553 - val_accuracy: 0.8523
Epoch 45/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3304 - accuracy: 0.8666 - val_loss: 0.3577 - val_accuracy: 0.8493
Epoch 46/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3300 - accuracy: 0.8670 - val_loss: 0.3568 - val_accuracy: 0.8561
Epoch 47/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3305 - accuracy: 0.8666 - val_loss: 0.3564 - val_accuracy: 0.8501
Epoch 48/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3300 - accuracy: 0.8673 - val_loss: 0.3578 - val_accuracy: 0.8482
Epoch 49/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3299 - accuracy: 0.8675 - val_loss: 0.3586 - val_accuracy: 0.8470
Epoch 50/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3300 - accuracy: 0.8653 - val_loss: 0.3589 - val_accuracy: 0.8489
Epoch 51/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3296 - accuracy: 0.8656 - val_loss: 0.3571 - val_accuracy: 0.8478
Epoch 52/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3290 - accuracy: 0.8679 - val_loss: 0.3565 - val_accuracy: 0.8512
Epoch 53/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3288 - accuracy: 0.8664 - val_loss: 0.3564 - val_accuracy: 0.8504
Epoch 54/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3289 - accuracy: 0.8666 - val_loss: 0.3577 - val_accuracy: 0.8478
Epoch 55/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3282 - accuracy: 0.8671 - val_loss: 0.3566 - val_accuracy: 0.8482
Epoch 56/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3289 - accuracy: 0.8686 - val_loss: 0.3571 - val_accuracy: 0.8512
Epoch 57/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3286 - accuracy: 0.8673 - val_loss: 0.3563 - val_accuracy: 0.8519

Epoch 58/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3281 - accuracy: 0.8670 - val_loss: 0.3567 - val_accuracy: 0.8542
Epoch 59/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3283 - accuracy: 0.8683 - val_loss: 0.3564 - val_accuracy: 0.8523
Epoch 60/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3280 - accuracy: 0.8671 - val_loss: 0.3563 - val_accuracy: 0.8501
Epoch 61/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3279 - accuracy: 0.8670 - val_loss: 0.3560 - val_accuracy: 0.8504
Epoch 62/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3278 - accuracy: 0.8686 - val_loss: 0.3555 - val_accuracy: 0.8512
Epoch 63/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3279 - accuracy: 0.8670 - val_loss: 0.3557 - val_accuracy: 0.8523
Epoch 64/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3281 - accuracy: 0.8671 - val_loss: 0.3560 - val_accuracy: 0.8531
Epoch 65/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3277 - accuracy: 0.8677 - val_loss: 0.3554 - val_accuracy: 0.8546
Epoch 66/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3276 - accuracy: 0.8684 - val_loss: 0.3560 - val_accuracy: 0.8508
Epoch 67/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3273 - accuracy: 0.8673 - val_loss: 0.3577 - val_accuracy: 0.8474
Epoch 68/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3273 - accuracy: 0.8686 - val_loss: 0.3564 - val_accuracy: 0.8482
Epoch 69/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3271 - accuracy: 0.8658 - val_loss: 0.3570 - val_accuracy: 0.8485
Epoch 70/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3273 - accuracy: 0.8666 - val_loss: 0.3551 - val_accuracy: 0.8489
Epoch 71/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3274 - accuracy: 0.8684 - val_loss: 0.3543 - val_accuracy: 0.8516
Epoch 72/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3271 - accuracy: 0.8671 - val_loss: 0.3548 - val_accuracy: 0.8535
Epoch 73/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3269 - accuracy: 0.8683 - val_loss: 0.3549 - val_accuracy: 0.8512
Epoch 74/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3269 - accuracy: 0.8699 - val_loss: 0.3548 - val_accuracy: 0.8519
Epoch 75/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3270 - accuracy: 0.8683 - val_loss: 0.3560 - val_accuracy: 0.8501
Epoch 76/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3270 - accuracy: 0.8698 - val_loss: 0.3542 - val_accuracy: 0.8501
Epoch 77/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3268 - accuracy: 0.8677 - val_loss: 0.3535 - val_accuracy: 0.8519
Epoch 78/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3260 - accuracy: 0.8688 - val_loss: 0.3528 - val_accuracy: 0.8516
Epoch 79/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3265 - accuracy: 0.8698 - val_loss: 0.3532 - val_accuracy: 0.8519
Epoch 80/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3263 - accuracy: 0.8692 - val_loss: 0.3560 - val_accuracy: 0.8497
Epoch 81/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3262 - accuracy: 0.8655 - val_loss: 0.3563 - val_accuracy: 0.8493
Epoch 82/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3266 - accuracy: 0.8688 - val_loss: 0.3547 - val_accuracy: 0.8519
Epoch 83/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3264 - accuracy: 0.8668 - val_loss: 0.3527 - val_accuracy: 0.8519
Epoch 84/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3267 - accuracy: 0.8684 - val_loss: 0.3552 - val_accuracy: 0.8504
Epoch 85/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3261 - accuracy: 0.8686 - val_loss: 0.3539 - val_accuracy: 0.8546
Epoch 86/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3262 - accuracy: 0.8703 - val_loss: 0.3542 - val_accuracy: 0.8497
Epoch 87/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3263 - accuracy: 0.8688 - val_loss: 0.3537 - val_accuracy: 0.8493
Epoch 88/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3260 - accuracy: 0.8701 - val_loss: 0.3544 - val_accuracy: 0.8519
Epoch 89/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3260 - accuracy: 0.8692 - val_loss: 0.3539 - val_accuracy: 0.8512
Epoch 90/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3254 - accuracy: 0.8690 - val_loss: 0.3553 - val_accuracy: 0.8497
Epoch 91/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3260 - accuracy: 0.8692 - val_loss: 0.3539 - val_accuracy: 0.8531
Epoch 92/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3260 - accuracy: 0.8703 - val_loss: 0.3522 - val_accuracy: 0.8527
Epoch 93/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3262 - accuracy: 0.8677 - val_loss: 0.3547 - val_accuracy: 0.8523
Epoch 94/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3261 - accuracy: 0.8681 - val_loss: 0.3538 - val_accuracy: 0.8546
Epoch 95/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3262 - accuracy: 0.8679 - val_loss: 0.3554 - val_accuracy: 0.8501
Epoch 96/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3255 - accuracy: 0.8686 - val_loss: 0.3539 - val_accuracy: 0.8504
Epoch 97/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3257 - accuracy: 0.8683 - val_loss: 0.3533 - val_accuracy: 0.8485
Epoch 98/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3256 - accuracy: 0.8679 - val_loss: 0.3541 - val_accuracy: 0.8497
Epoch 99/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3256 - accuracy: 0.8684 - val_loss: 0.3557 - val_accuracy: 0.8519
Epoch 100/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3254 - accuracy: 0.8677 - val_loss: 0.3536 - val_accuracy: 0.8501

In [11]:
#Testing model
y_pred = classifier.predict(x_test)
y_pred = (y_pred>0.5)
y_pred

array([[0.4458705 ],
       [0.00743088],
       [0.03440249],
       ...,
       [0.6230372 ],
       [0.07186857],
       [0.07507715]], dtype=float32)

In [26]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
cm

array([[1489,   72],
       [ 226,  213]], dtype=int64)

In [28]:
from sklearn.metrics import accuracy_score
score = accuracy_score(y_test, y_pred)
score

0.851